<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="/fragments/resources :: head"></th:block>
    <title>Dettagli della Pizza</title>
  </head>
  <body>
  <th:block th:replace="/fragments/navbar :: navbar('pizzas', '', false)"></th:block>
<div class="container" th:object="${pizza}">
  <h1 th:text="*{name}">Pizze</h1>
  <div>
    <dl>
      <dt>Nome:</dt>
      <dd th:text="*{name}"></dd>
      <dt>Descrizione:</dt>
      <dd th:text="*{description}"></dd>
      <dt>Prezzo:</dt>
      <dd th:text="*{price}"></dd>
    </dl>
  </div>

  <!-- sales -->
  <h2>
    <span>Offerte</span>
    <a th:href="@{/sales/create(pizzaId=${pizza.id})}"
       class="btn btn-primary rounded-circle"
       title="add sale"
    >
      <i class="fa-solid fa-plus"></i>
    </a>
  </h2>
  <table class="table" th:object="${pizza}">
    <thead>
    <tr>
      <th scope="col">Titolo</th>
      <th scope="col">Inizio offerta</th>
      <th scope="col">Scadenza offerta</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sale : ${pizza.sales}">
      <td th:text="${sale.title}"></td>
      <td th:text="${#temporals.format(sale.startDate, 'dd/MM/yyyy')}"></td>
      <td th:text="${#temporals.format(sale.expireDate, 'dd/MM/yyyy')}"></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>